*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #2600ff;
}

.app {
    background: #fff;
    width:90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}
.app h1 {
    font-weight: 25px;
    color: #000000;
    border-bottom: #1300b9;
    padding-bottom: 30px;

}
.quiz {
    padding: 20px;
}

.quiz h2 {
    font-size: 18px;
    color: #070049;
    font-weight: 600;
}

.btn {
    background: #fdfdfd;
    color: #000000;
    font-weight: 500;
    width: 100%;
    border: 1px solid #10001d;
    padding:  10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnPlay {
    background: #fdfdfd;
    color: #000000;
    font-weight: 500;
    width: 50%;
    border: 1px solid #f5f5f5;
    padding:  10px;
    margin: 260px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnPlay:hover:not([disable]) {
    background: #bc7df0;
    color: #fff;
}

.btn:hover:not([disable]) {
    background: #2d0052;
    color: #fff;
}

.btn.disable {
    cursor: no-drop;
}

#next-btn {
    background: rgb(77, 0, 112);
    color:#ffffff;
    font-weight: 500;
    width: 150px;
    border: 0px;
    padding:  10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct {
    background: #006118;
}
.incorrect {
    background: #fd2121;
}